body {
  background-color: #f4f6fc;
  font-family: "Inter", sans-serif;
}

.introduction-text {
  color: #38b5e7;
}

#hello {
  color: black;
  font-style: italic;
}

.refuse-me {
  border-color: #38b5e7;
}

.refuse-me:hover {
  color: #38b5e7;
  border-color: #38b5e7;
}

.refuse-me:active {
  color: #38b5e7 !important;
  border-color: #38b5e7 !important;
}

.hire-me {
  background-color: #38b5e7;
  border-color: #38b5e7;
}

.hire-me:hover {
  background-color: #5971fd;
  border-color: #38b5e7;
}

.hire-me:active {
  background-color: #3a56f3 !important;
  border-color: #38b5e7 !important;
}

.section-title{
  color: #38b5e7;
}

.project-photo {
  max-height: 332px;
}

.card {
  max-width: 400px;
}

.card-title {
  font-size: 20px;
}

#contact {
  background-color: #1848a0;
  color: white;
}

.links {
  color: white;
}

.links:hover {
  color: #c7acac;
}