body {
  background-color: #f4f6fc;
}

#contact {
  background-color: #1848a0;
  color: white;
}

.introduction-text {
  color: #687eff;
}

#hello {
  color: black;
  font-style: italic;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button-group button {
  border-color: #687eff;
}

.button-group button:hover {
  color: #687eff;
  border-color: #687eff;
}

.button-group button:active {
  color: #687eff !important;
  border-color: #687eff !important;
}

.reverse {
  flex-direction: row-reverse;
}

.about-me{
  color: #687eff;
}

.links {
  color: white;
}

.links:hover {
  color: #c7acac;
}